<h1>Listing orders</h1>

<table>
  <tr>
    <th>id</th>
    <th>Produto</th>
    <th>Usuario</th>
    <th>Preço</th>
    <th>Tipo de Pagamento</th>
    <th>Situação</th>
    <th>Modificado por</th>
    <th>Criado em</th>
    <th>Última alteração</th>
    <th>Último processamento</th>
    <th>Data do Pagamento</th>
    <th>Token</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%=h order.id %></td>
    <td><%=h order.product.name %></td>
    <td><%=h order.user.name %></td>
    <td><%=h order.price %></td>
    <td><%=h order.payment_type %></td>
    <td><%=h order.status %></td>
    <td><%=h order.admin_name %></td>
    <td><%=h format_date(order.created_at) %></td>
    <td><%=h format_date(order.updated_at) %></td>
    <td><%=h format_date(order.processed_at) %></td>
    <td><%=h format_date(order.paid_at) %></td>
    <td><%= paid_order(order) %></td>
    <td><%=h order.transaction_token %></td>
    <td><%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
